name: CI Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
    inputs:
      test-dev-arg:
        description: 'some test dev branch specific arg'
        required: false
        type: string
        default: 'testdev'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run script
      id: script_output
      run: |
        NUM_FILES=$(find . -type f | wc -l)
        NUM_WORDS=$(cat $(find . -type f -name "*.md") | wc -w)
        echo "all testdev1 num_files=$NUM_FILES" >> "$GITHUB_OUTPUT"
        echo "all testdev1 num_words=$NUM_WORDS" >> "$GITHUB_OUTPUT"

    - name: Output Workflow Variables and Script Results
      run: |
        echo "### all testdev2 GitHub Workflow Variables and State" >> "$GITHUB_STEP_SUMMARY"
        echo "- all testdev2 **GitHub Repository:** ${{ github.repository }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **GitHub Ref:** ${{ github.ref }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **GitHub Event Name:** ${{ github.event_name }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **GitHub Head Ref:** ${{ github.head_ref }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **GitHub Base Ref:** ${{ github.base_ref }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **GitHub SHA:** ${{ github.sha }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **GitHub Run ID:** ${{ github.run_id }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **GitHub Run Number:** ${{ github.run_number }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **Runner OS:** ${{ runner.os }}" >> "$GITHUB_STEP_SUMMARY"
        echo "### Script Results" >> "$GITHUB_STEP_SUMMARY"
        echo "- **all testdev1 Total number of files:** ${{ steps.script_output.outputs.num_files }}" >> "$GITHUB_STEP_SUMMARY"
        echo "- **all testdev1 Total number of words in .md files:** ${{ steps.script_output.outputs.num_words }}" >> "$GITHUB_STEP_SUMMARY"
